---
import MainLayout from '@/layouts/MainLayout.astro';
import HeroSection from '@components/sections/landing/HeroSection.astro';
import HeroSectionAlt from '@components/sections/landing/HeroSectionAlt.astro';
import ClientsSection from '@components/sections/landing/ClientsSection.astro';
import FeaturesGeneral from '@components/sections/features/FeaturesGeneral.astro';
import FeaturesNavs from '@components/sections/features/FeaturesNavs.astro';
import TestimonialsSection from '@components/sections/testimonials/TestimonialsSection.astro';
import PricingSection from '@components/sections/pricing/PricingSection.astro';
import FAQ from '@components/sections/misc/FAQ.astro';
import AnnouncementBanner from '@components/ui/banners/AnnouncementBanner.astro';
import heroImage from '@images/gkpic1.avif';
import faqs from '@data/faqs.json';
import features from '@data/features.json';
import pricing from '@data/pricing.json';
import featureImage from '@images/midpic3.avif';
import construction from '@images/construction-image.avif';
import tools from '@images/automated-tools.avif';
import dashboard from '@images/dashboard-image.avif';
import { partnersData } from '@/data_files/constants';
import Why from '@/components/sections/landing/Why.astro';
import im1 from '@images/inpic/inpic1.avif'
import im2 from '@images/inpic/inpic2.avif'
import im3 from '@images/inpic/inpic3.avif'
import im4 from '@images/inpic/inpic4.avif'
import im5 from '@images/inpic/inpic5.avif'
import im6 from '@images/inpic/inpic6.avif'
import type { ImageMetadata } from 'astro';

const avatarSrcs: ImageMetadata[]  = [
     im2,
     im3,
     im4,
     im5,
     im6,
     im1,
];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Manufacturer And Supplier Of Rebar Coupler <span
        class="text-yellow-500 dark:text-yellow-400">G k Enterprise</span>`
    subTitle="GK Enterprise is a leading supplier of high-quality Rebar Couplers and value-added solutions for the construction industry. We provide reliable products and services for infrastructure, residential, commercial, and industrial projects.
              The company is committed to delivering quality products with a strong focus on customer satisfaction, precision, and timely service. We have catered to various projects across India and have built a strong reputation in the market through quality standards and dependable support."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.4</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">46</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />
  <Why />


  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
    partners={partnersData}
  /> -->

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At ScrewFast, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

 <section class="mx-auto max-w-[85rem] px-4 py-16 sm:px-6 lg:px-8">
  <div class="mb-12 text-center">
    <h2 class="text-4xl font-bold text-neutral-800 dark:text-white">
      Core <span class="text-yellow-500">Values</span>
    </h2>
  </div>

  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">

    <!-- Innovation -->
    <div class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100 active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer">
      
      <div class="mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-orange-500 text-3xl text-white">
        💡
      </div>

      <h3 class="mb-4 text-3xl font-bold text-neutral-800 dark:text-white">
        Innovation
      </h3>

      <p class="text-lg leading-9 text-neutral-600 dark:text-neutral-300">
        At GK Enterprise, we continuously innovate and improve our engineering
        solutions to deliver stronger, safer, and more reliable construction
        products for modern infrastructure projects.
      </p>
    </div>

    <!-- Customer -->
    <div class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100 active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer">
      <div class="mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-orange-500 text-3xl text-white">
        📞
      </div>

      <h3 class="mb-4 text-3xl font-bold text-neutral-800 dark:text-white">
        Customer-Centricity
      </h3>

      <p class="text-lg leading-9 text-neutral-600 dark:text-neutral-300">
        Our customers are our priority. We focus on understanding project
        requirements and delivering dependable products with complete support
        and timely service.
      </p>
    </div>

    <!-- Integrity -->
    <div class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100 active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer">
      <div class="mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-orange-500 text-3xl text-white">
        🤝
      </div>

      <h3 class="mb-4 text-3xl font-bold text-neutral-800 dark:text-white">
        Integrity
      </h3>

      <p class="text-lg leading-9 text-neutral-600 dark:text-neutral-300">
        We maintain honesty, transparency, and professionalism in every
        business relationship, ensuring trust and long-term partnerships.
      </p>
    </div>

    <!-- Safety -->
    <div class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100 active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer">
      <div class="mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-orange-500 text-3xl text-white">
        ✔️
      </div>

      <h3 class="mb-4 text-3xl font-bold text-neutral-800 dark:text-white">
        Safety
      </h3>

      <p class="text-lg leading-9 text-neutral-600 dark:text-neutral-300">
        Safety is at the core of our engineering approach. Our products are
        designed to provide secure, durable, and high-strength performance in
        construction applications.
      </p>
    </div>

    <!-- Learning -->
    <div class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100 active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer">
      <div class="mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-orange-500 text-3xl text-white">
        📘
      </div>

      <h3 class="mb-4 text-3xl font-bold text-neutral-800 dark:text-white">
        Continuous Learning
      </h3>

      <p class="text-lg leading-9 text-neutral-600 dark:text-neutral-300">
        We believe in continuous learning and development to stay updated with
        the latest construction technologies and industry standards.
      </p>
    </div>

  </div>
</section>


 <section class="mx-auto max-w-7xl px-4 py-24 sm:px-6 lg:px-8">
  <div class="grid gap-8 md:grid-cols-2">

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-white/5 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-lime-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(132,204,22,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
    >
      <!-- Glow -->
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -top-20 -left-20 h-52 w-52 rounded-full bg-lime-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-lime-400 drop-shadow-lg"
        >
          150+
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Total Projects
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-white/5 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-cyan-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(34,211,238,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -top-20 -right-20 h-52 w-52 rounded-full bg-cyan-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-cyan-400 drop-shadow-lg"
        >
          100+
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Clients
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-white/5 bg-gray-50  p-10 backdrop-blur-xl transition-all duration-500 hover:-translate-y-4 hover:border-yellow-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(250,204,21,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -left-20 h-52 w-52 rounded-full bg-yellow-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-yellow-400 drop-shadow-lg"
        >
          12+
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          States Catered
        </p>
      </div>
    </div>

    <!-- Card -->
    <div
      class="group relative overflow-hidden rounded-[2rem] border dark:border-white/10 border-gray-50 dark:bg-white/5 bg-gray-50 p-10 backdrop-blur-xl transition-all duration-500 ease-out hover:-translate-y-4 hover:scale-[1.02] hover:border-pink-400/40 hover:bg-white/10 hover:shadow-[0_0_40px_rgba(244,114,182,0.25)] active:-translate-y-4 active:scale-[1.02] active:border-pink-400/40 active:shadow-[0_0_40px_rgba(244,114,182,0.25)] focus:-translate-y-4 focus:scale-[1.02] focus:border-pink-400/40 focus:shadow-[0_0_40px_rgba(244,114,182,0.25)] cursor-pointer"
    >
      <div
        class="absolute inset-0 opacity-0 transition duration-500 group-hover:opacity-100 group-active:opacity-100"
      >
        <div
          class="absolute -bottom-20 -right-20 h-52 w-52 rounded-full bg-pink-400/20 blur-3xl"
        ></div>
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="text-6xl font-black tracking-tight text-pink-400 drop-shadow-lg"
        >
          50+
        </h2>

        <p
          class="mt-5 text-xl font-semibold tracking-wide dark:text-white"
        >
          Team Members
        </p>
      </div>
    </div>

  </div>
</section>

  <PricingSection pricing={pricing} />

  <FAQ />

  <!-- <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->


  <!-- WhatsApp Floating Button -->
<a
  href="https://wa.me/917859845464?text=Hello%20Vruddhi%20Couplers%2C%20I%20want%20more%20information."
  target="_blank"
  rel="noopener noreferrer"
  class="group fixed bottom-6 right-6 z-50 flex items-center gap-3 rounded-full border border-green-400/20 bg-green-500 px-5 py-3 shadow-2xl transition duration-300 hover:scale-105 hover:bg-green-600"
>
  <!-- WhatsApp Icon -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 32 32"
    class="h-7 w-7 dark:fill-white fill-black"
  >
    <path
      d="M16.04 3C8.84 3 3 8.74 3 15.82c0 2.5.74 4.92 2.13 7L3 29l6.39-2.08a13.2 13.2 0 0 0 6.65 1.8H16c7.2 0 13.04-5.74 13.04-12.82C29.04 8.74 23.2 3 16.04 3Zm0 23.4c-2.04 0-4.03-.55-5.77-1.6l-.41-.24-3.79 1.23 1.24-3.68-.27-.43a10.4 10.4 0 0 1-1.6-5.56c0-5.8 4.78-10.52 10.66-10.52 5.89 0 10.67 4.72 10.67 10.52 0 5.8-4.78 10.52-10.67 10.52Zm5.85-7.86c-.32-.16-1.9-.93-2.2-1.04-.3-.1-.52-.16-.74.16-.21.31-.84 1.03-1.02 1.24-.19.21-.37.24-.69.08-.31-.16-1.33-.48-2.53-1.53-.93-.82-1.56-1.83-1.74-2.14-.18-.31-.02-.48.14-.64.14-.14.31-.37.47-.55.15-.18.2-.31.3-.52.1-.21.05-.39-.03-.55-.08-.16-.74-1.78-1.02-2.43-.26-.63-.52-.55-.74-.56h-.63c-.21 0-.55.08-.84.39-.29.31-1.1 1.08-1.1 2.64 0 1.55 1.13 3.05 1.29 3.26.16.21 2.22 3.52 5.49 4.8.78.3 1.39.48 1.86.62.78.24 1.49.2 2.05.12.63-.1 1.9-.78 2.17-1.53.27-.76.27-1.4.19-1.53-.08-.13-.29-.21-.61-.37Z"
    />
  </svg>

  <!-- Text -->
  <div class="hidden sm:block">
    <p class="text-sm font-semibold dark:text-white text-black">
      Chat on WhatsApp
    </p>

    <p class="gre">
      Quick Support
    </p>
  </div>
</a>



</MainLayout>



